  <h1><%= format_bill(@bill)%>の詳細</h1>

  <div>コード: <%=h @bill.code %></div>
  <div>請求日: <%=h @bill.written_on %></div>
  <div>顧客名: <%=h @bill.customer_name %></div>
  <div>件名: <%=h @bill.subject %></div>
  <div>支払条件: <%=h @bill.payment_condition %></div>
  <div>支払期限: <%=h @bill.payment_due_date %></div>
  <div>入金先: <%=h @bill.bank %></div>
  <div>請求元情報: <%=h @bill.from %></div>
  <div>備考: <%=h @billdescription %></div>
  <div>請求金額: TODO </div>
  <div>内、消費税額: TODO </div>

  <%= link_to "編集する", bill_path(@bill), :method => :put %>
  <%= link_to "一覧に戻る", bills_path,:method => :get %>
  