<h1><%= format_bill(@bill)%>の詳細</h1>

<div class="formGroup">
  <h2>概要情報</h2>
  <div>
    <div class="inlineField">コード: <%=h @bill.code %></div>
    <div class="inlineField">請求日: <%=h @bill.written_on %></div>
    <div class="clearInlineField"></div>
  </div>
  <div>
    <div class="inlineField">顧客名: <%=h @bill.customer_name %></div>
    <div class="inlineField">件名: <%=h @bill.subject %></div>
    <div class="clearInlineField"></div>
  </div>
  <div>
    <div class="inlineField">支払条件: <%=h @bill.payment_condition %></div>
    <div class="inlineField">支払期限: <%=h @bill.payment_due_date %></div>
    <div class="clearInlineField"></div>
  </div>
  <div>
    <div class="inlineField">入金先: <%=h @bill.bank %></div>
    <div class="inlineField">請求元情報: <%=h @bill.from %></div>
    <div class="clearInlineField"></div>
  </div>
  <div>備考: <%=h @billdescription %></div>
</div>

<div class="formGroup">
  <h2>販売の明細</h2>
  <table>
    <tr>
      <th>適用</th><th>金額</th><th>備考</th>
    </tr>
    <% @bill.sale_items.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= number_with_delimiter(i.amount) %></td>
        <td><%= i.description %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="formGroup">
  <h2>立替金の明細</h2>
  <table>
    <tr>
      <th>適用</th><th>金額</th><th>備考</th>
    </tr>
    <% @bill.out_of_pocket_items.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= number_with_delimiter i.amount %></td>
        <td><%= i.description %></td>
      </tr>
    <% end %>
  </table>
</div>

<div>請求金額: TODO </div>
<div>内、消費税額: TODO </div>


<%= link_to "編集する", bill_path(@bill), :method => :put %>
<%= link_to "一覧に戻る", bills_path,:method => :get %>
