<h1><%= format_bill(@bill)%>の詳細</h1>

<div class="showArea">
<div>
  <h2>概要情報</h2>
  <div>
    <div class="inlineField">コード: <%=h @bill.code %></div>
    <div class="inlineField">請求日: <%=h @bill.written_on %></div>
    <div class="clearInlineField"></div>
  </div>
  <div>
    <div class="inlineField">顧客名: <%=h @bill.customer_name %></div>
    <div class="inlineField">件名: <%=h @bill.subject %></div>
    <div class="clearInlineField"></div>
  </div>
  <div>
    <div class="inlineField">支払条件: <%=h @bill.payment_condition %></div>
    <div class="inlineField">支払期限: <%=h @bill.payment_due_date %></div>
    <div class="clearInlineField"></div>
  </div>
  <div>
    <div class="inlineField">入金先: <%=h @bill.bank %></div>
    <div class="inlineField">請求元情報: <%=h @bill.from %></div>
    <div class="clearInlineField"></div>
  </div>
  <div>備考: <%=h @billdescription %></div>
</div>

<div>
  <h2>販売の明細</h2>
  <% unless @bill.sale_items.empty? %>
  <table class="book">
    <tr>
      <th>摘要</th><th>金額</th><th>備考</th>
    </tr>
    <% @bill.sale_items.each do |i| %>
      <tr>
        <td class="itemName"><%= i.name %></td>
        <td class="amount"><%= number_with_delimiter(i.amount) %></td>
        <td class="itemDescription"><%= i.description %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>

<div>
  <% unless @bill.out_of_pocket_items.empty? %>
  <h2>立替金の明細</h2>
  <table class="book">
    <tr>
      <th>摘要</th><th>金額</th><th>備考</th>
    </tr>
    <% @bill.out_of_pocket_items.each do |i| %>
      <tr>
        <td class="itemName"><%= i.name %></td>
        <td class="amount"><%= number_with_delimiter i.amount %></td>
        <td class="itemDescription"><%= i.description %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>

<div id="total">
<table class="book">
  <tr><th>請求金額</th><td class="amount"><%= @bill.total_amount %></td></tr>
  <tr><th>内、消費税額</th><td class="amount"></td></tr>
</table>
</div>

<div class="operation">
  <ul class="operationButtons">
    <li class="button"><%= link_to "編集する", bill_path(@bill), :method => :put, :class => "button" %></li>
    <li class="button"><%= link_to "一覧に戻る", bills_path,:method => :get, :class => "button" %></li>
  </ul>
</div>