<h1>New numbering_rule</h1>

<% form_for(@numbering_rule) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :numbering_format %><br />
    <%= f.text_field :numbering_format %>
  </p>
  <p>
    <%= f.label :current_number %><br />
    <%= f.text_field :current_number %>
  </p>
  <p>
    <%= f.label :numbering_reset_type_id %><br />
    <%= f.text_field :numbering_reset_type_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', numbering_rules_path %>
